.container {
  display: flex;
  width: 100%;
  padding: 0;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: stretch;
  padding: 0;
  margin: 1% 0%;
}

.gridItems {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 50px;
}

@media (max-width: 1200px) {
  .gridItems {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 992px) {
  .gridItems {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .gridItems {
    grid-template-columns: repeat(1, 1fr);
  }
}