.navBar {
  overflow: hidden;
  background-color: #333;
  width: 100%;
  z-index: 1;
}

.navBarTitle {
  float: left;
  margin-left: 2%;
  color: white;
}

.navBarCartCont {
  float: right;
  margin: 1%;
  border-radius: 25px;
  background-color: red;
  width: 35px;
  height: 35px;
}

.navBarCartCount {
  color: white;
  margin: 0;
}

.link {
  color: inherit;
  text-decoration: inherit;
}